{% import "partial/fixtures.html" as data %}


<!--     top bar -->

    <div class="fixed">
		<nav class="top-bar" data-topbar data-options="scrolltop:false;">
			<ul class="title-area">
				<li class="name">
					<a href="/">
						<img style="height:100%;max-width:80%;padding: 3px;" 
							src="/static/img/murahgrosir353.png">
					</a>
				</li>
				<li class="toggle-topbar"><a href="#"><i class="fa fa-bars fa-2x" style="line-height:inherit;"></i></a></li>
			</ul>
			
			<section class="top-bar-section">
				<!-- Right Nav Section -->
				<ul class="right">
					{% for category in data.categories recursive %}
						{% if category.subcategory is defined %}
							<li class="has-dropdown">
								<a href="#">{{category.name}}</a>
								<ul class="dropdown">
									{{loop(category.subcategory)}}
								</ul>
							</li>
						{% else %}
							<li><a href="category.html">{{category.name}}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
			  </section>
		</nav>
	</div>
					