{% import "partial/fixtures.html" as data %}


<!--     top bar -->

    <div class="fixed">
		<nav class="top-bar" data-topbar data-options="scrolltop:false;">
			<ul class="title-area">
				<li class="name">
					<a href="/">
						<img style="height:100%;max-width:80%;padding: 3px;" 
							src="/static/img/murahgrosir353.png">
					</a>
				</li>
				<li class="toggle-topbar"><a href="#"><i class="fa fa-bars fa-2x" style="line-height:inherit;"></i></a></li>
			</ul>
			
			<section class="top-bar-section">
				<!-- Right Nav Section -->
				<ul class="right">
					<li><a href="about.html"><i class="fa fa-question-circle fa-2x fa-fw pull-left"></i>About</a></li>
					<li><a href="testimoni.html"><i class="fa fa-comment fa-2x fa-fw pull-left"></i>Testimoni</a></li>
					<li><a href="pemesanan.html"><i class="fa fa-shopping-cart fa-2x fa-fw pull-left"></i>Pemesanan</a></li>
				</ul>
			  </section>
		</nav>
	</div>
					