<!--     top bar -->

    <div class="fixed">
		<nav class="top-bar" data-topbar>
			<ul class="title-area">
				<li class="name">
					<a href="/">
						<img style="height:100%;max-width:80%;background:white;padding-right:5px;" 
							src="/static/img/murahgrosir353.jpg">
					</a>
				</li>
				<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
			</ul>
			
			<section class="top-bar-section">
				<!-- Right Nav Section -->
				<ul class="right"> 
				  <li class="has-dropdown">
					<a href="#">Jam Original</a>
					<ul class="dropdown">
					  <li class="has-dropdown">
					  	<a href="#">Alexandre Christie</a>
					  	<ul class="dropdown">
					  		<li><a href="#">Alexandre Christie Men</a></li>
					  		<li><a href="#">Alexandre Christie Women</a></li>
					  		<li><a href="#">Alexandre Christie Couple</a></li>
						</ul>
					  <li><a href="#">Guess</a></li>
					  <li><a href="#">Levi's</a></li>
					  <li><a href="#">Nautica</a></li>
					  <li><a href="#">DKNY</a></li>
					</ul>
				  </li>
				  <li class="has-dropdown">
					<a href="#">Kacamata</a>
					<ul class="dropdown">
					  <li><a href="#">Sun Glass</a></li>
					  <li><a href="#">Frame</a></li>
					</ul>
				  </li>
				  <li class="has-dropdown">
					<a href="#">Jaket & Kaos Sport</a>
					<ul class="dropdown">
					  <li><a href="#">Kaos Bola</a></li>
					  <li><a href="#">Jaket Bola</a></li>
					  <li><a href="#">Sweater Bola</a></li>
					  <li><a href="#">Jersey Klub Bola</a></li>
					</ul>
				  </li>
				  <li class="has-dropdown">
					<a href="#">Sepatu</a>
					<ul class="dropdown">
					  <li><a href="#">Sub Menu 1</a></li>
					  <li><a href="#">Sub Menu 2</a></li>
					</ul>
				  </li>
				  <li class="has-dropdown">
					<a href="#">Tas</a>
					<ul class="dropdown">
					  <li><a href="#">Sub Menu 1</a></li>
					  <li><a href="#">Sub Menu 2</a></li>
					</ul>
				  </li>
				  <li class="has-dropdown">
					<a href="#">Kacamata</a>
					<ul class="dropdown">
					  <li><a href="#">Sub Menu 1</a></li>
					  <li><a href="#">Sub Menu 2</a></li>
					</ul>
				  </li>
				</ul>
			  </section>
		</nav>
	</div>