<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Murah Grosir Mobile Store</title>
<!-- 		<link rel="stylesheet" href="/static/css/foundation.css" /> -->
		<script src="/static/bower_components/modernizr/modernizr.js"></script>
		
		<link rel="stylesheet" href="/static/css/app.css" />
		<link rel="stylesheet" href="/static/css/lightbox.css" />
	</head>
	<body>
    
		{% include "partial/topbar.html" %}
		
		<br/>
		
		{% include "partial/search-form.html" %}
		
		{% block content %}{% endblock %}
	
		<hr>
		
	<!-- 	customer support -->
		<br>
		<div class="row">
			<div class="small-12 columns">
				<ul class="no-bullet" style="font-size: smaller;">
					<li>
					  <i class="icon-phone icon-2x pull-left"></i>
					  <span>
						IM3 - 081.559.18618<br>
						XL - 0857.8543.3965
					  </span>
					</li>
					<li>
					  <i class="icon-comments-alt icon-2x pull-left"></i>
					  <span>
						PIN BBM - 2B144E98 | 24C3B2A7<br>
						WhatsApp - -
					  </span>
					</li>
					<li>
					  <i class="icon-map-marker icon-2x pull-left"></i>
					  <span>
						Alamat:<br>
						Jln. Karimata 105-D Jember Jatim.
					  </span>
					</li>
				</ul>
			</div>
		</div>
		
		<script src="/static/bower_components/jquery/jquery.js"></script>
		<script src="/static/bower_components/foundation/js/foundation.min.js"></script>
		<script>
		  $(document).foundation();
		</script>
		
<!-- 		lightbox -->
		<script src="/static/js/vendor/lightbox-2.6.min.js"></script>
		
<!-- 		fittext -->
		<script src="/static/js/vendor/jquery.fittext.js"></script>
		<script>
		  $('#header').fitText(1.5);
		  $('#header').css('font-weight', 'bold');
		</script>
		
	<!-- 	browser-sync -->
		<script>
			var host = (location.host || 'localhost').split(':')[0];
			document.write(
				'<script src="//' + host + ':3000/socket.io/socket.io.js"></' + 'script>' +
				'<script>var ___socket___ = io.connect("http://' + host + ':3000");<' + '/script>' +
				'<script src="//192.168.42.106:3001/client/browser-sync-client.min.js"><' + '/script>'
			);
		</script>
		
		
	<!-- livereload -->
		<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

	</body>
</html>