{% extends "base.html" %}


{% block content %}
<!-- 	promo -->

	<div class="row">
		<div class="small-12 columns">
			<ul class="example-orbit" data-orbit>
			  <li><img src="/static/img/resized1.jpg" alt="slide 1" /></li>
			  <li><img src="/static/img/resized2.gif" alt="slide 2" /></li>
			  <li><img src="/static/img/resized3.jpg" alt="slide 3" /></li>
			  <li><img src="/static/img/resized4.gif" alt="slide 4" /></li>
			</ul>
		</div>
	</div>
	
{% import "partial/fixtures.html" as data %}
<!-- kategori produk -->
	<br>
	<div class="row">
		<div class="small-12 columns">
			<dl class="accordion" data-accordion>
				{% for category in data.categories recursive %}
					{% if category.subcategory is defined %}
						<dd>
							{% set id_panel = category.name|lower|replace(' ','-')|replace('&','-') %}
							<a href="#{{id_panel}}">
								{{category.name}}
								<i class="fa fa-chevron-down pull-right"></i>
								<i class="fa fa-chevron-up pull-right"></i>
							</a>
							<div id="{{id_panel}}" class="content">
								<dl class="accordion" data-accordion>
									{{loop(category.subcategory)}}
								</dl>
							</div>
						</dd>
					{% else %}
						<dd><div class="link"><a href="category.html">{{category.name}}</a></div></dd>
					{% endif %}
				{% endfor %}
			</dl>
		</div>
	</div>
{%- endblock %}
