{% extends "base.html" %}


{% block content %}
<!-- 	promo -->

	<div class="row">
		<div class="small-12 columns">
			<ul class="example-orbit" data-orbit>
			  <li><img src="/static/img/resized1.jpg" alt="slide 1" /></li>
			  <li><img src="/static/img/resized2.gif" alt="slide 2" /></li>
			  <li><img src="/static/img/resized3.jpg" alt="slide 3" /></li>
			  <li><img src="/static/img/resized4.gif" alt="slide 4" /></li>
			</ul>
		</div>
	</div>
	
<!-- kategori produk -->
	<br>
	<div class="row">
		<div class="small-12 columns">
			<dl class="accordion" data-accordion>
			  <dd>
				<a href="#panel1">Jam Original</a>
				<div id="panel1" class="content">
					<ul class="side-nav">
					  <li><a href="#">Alexandre Christie</a></li>
					  <li><a href="#">Guess</a></li>
					  <li><a href="#">DKNY</a></li>
					  <li><a href="#">Nautica</a></li>
					</ul>
				</div>
			  </dd>
			  <dd>
				<a href="#panel2">Kacamata</a>
				<div id="panel2" class="content">
				  <ul class="side-nav">
					  <li><a href="#">Sun Glass</a></li>
					  <li><a href="#">Frame</a></li>
					</ul>
				</div>
			  </dd>
			  <dd>
				<a href="#panel3">Jaket & Kaos Bola</a>
				<div id="panel3" class="content">
				  <ul class="side-nav">
					  <li><a href="#">Jaket Bola</a></li>
					  <li><a href="#">Jersey Klub Bola</a></li>
					  <li><a href="#">Kaos Bola</a></li>
					</ul>
				</div>
			  </dd>
			</dl>
		</div>
	</div>
{%- endblock %}
